apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
  labels:
    app: myapp
spec:
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
      - name: container-1
        securityContext:
          privileged: false
      - name: container-2
        securityContext:
          privileged: false
      - name: container-3
        securityContext:
          privileged: false
          allowPrivilegeEscalation: false
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp-2
  labels:
    app: myapp-2
spec:
  selector:
    matchLabels:
      app: myapp-2
  template:
    metadata:
      labels:
        app: myapp-2
    spec:
      containers:
      - name: container-1
        securityContext:
          privileged: false
          allowPrivilegeEscalation: false
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp2
  labels:
    app: myapp2
spec:
  replicas: 3
  selector:
    matchLabels:
      app: myapp2
  template:
    metadata:
      labels:
        app: myapp2
    spec:
      containers:
      - name: container-1
        securityContext:
          privileged: false
      - name: container-2
        securityContext:
          privileged: false
      - name: container-3
        securityContext:
          privileged: false
          allowPrivilegeEscalation: false

