name: Weaveworks
on:
  push:
    branches: [ main ]
jobs:
  main:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - uses: actions/checkout@v3
      - uses: waleedhammam/weave-action@v1
        with:
          path: kubernetes
          policies-path: policies
          remediate: true # enable auto remediation
